<div class="container rounded primary-color text-white" >
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3">
    <p class="col-md-4 mb-0 ">Cucco Alessandro   Matricola:941802</p>

    <ul class="nav col-md-4 justify-content-end ">
      <li class="nav-item"><a href="index.ejs" class="nav-link px-2 text-white">Home</a></li>
      <li class="nav-item"><a href="italia.ejs" class="nav-link px-2 text-white">Italia</a></li>
      <li class="nav-item"><a href="europa.ejs" class="nav-link px-2 text-white">Europa</a></li>
      <li class="nav-item"><a href="mondo.ejs" class="nav-link px-2 text-white">Mondo</a></li>
    </ul>
  </footer>
</div>